/* Make all profile images portholes */
.profile-picture, .avatar {
	border-radius: 100px;
}

/* Hide bad sidebar modules and extra elements */
.site-footer, .wtf-module,
.mini-profile, .trends,
.enhanced-media-thumbnails, .profile-nav,
[data-component-term="profile_tweetbox"] {
	display:none;
}

/* Center the main content */
.wrapper {
	width: 522px;
}

/* Center, stretch visible sidebar elements */
.dashboard, .module {
	width: 100%;
}

/* Hide promoted Tweets! */
.promoted-tweet {
	display: none;
}
